{
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
    },
    "extends": [
        "eslint:recommended",  
        "plugin:react/recommended"
    ],
    "globals": {
        "document": true
    }
  }